.env
node_modules/
*.log
dist/
build/


backend/sats-jar-firebase-adminsdk-fbsvc-07af2ecd3f.json
web/.vercel/
web/dist/
web/ node_modules/
backend/node_modules/
backend/.notes.txt
backend/.env
backend/.env.example
backend/logs/
backend/tests/
